<div class="startpage">
  <div class="header">
    <h1>Welcome to Conversphere</h1>
      <div clas="img"></div>
  </div>
  <button mat-raised-button (click)="copyToClipboard()">Link kopieren</button>
  <h4>Bitte geben Sie einen Nickname ein: </h4>
  <div>
  <div >
      <mat-form-field class="nickname">
        <mat-label>Nickname:</mat-label>
        <input matInput placeholder="Mindestens 3 Buchstaben! (ohne Leerzeichen)"
        [formControl]="formNickname" required>
        <mat-error *ngIf="formNickname.invalid">Bitte mindestens 3 Zeichen eingeben ohne Leerzeichen.</mat-error>
      </mat-form-field>
  </div>
  </div>

  <div *ngIf="formNickname.valid" class="roomInput">
    <div class="createRoom">
      <h4>Einen neuen Raum erstellen</h4>
      <div >
        <mat-form-field>
          <mat-label>Raumnamen angeben:</mat-label>
          <input matInput placeholder="Raumname"
          [formControl]="formRoomName" required [(ngModel)]="roomName">
          <mat-error *ngIf="formRoomName.invalid">Bitte mindestens 3 Zeichen eingeben ohne Leerzeichen.</mat-error>
        </mat-form-field>
    </div>
      <button
        class="button"
        mat-raised-button
        [disabled]="roomName == null || roomName == '' || roomName == undefined"
        ariaCurrentWhenActi (click)="createNewRoom()">Raumerstellen
      </button>
    </div>

    <div class="chooseRoom">
      <h4>Raum beitreten: </h4>
      <mat-form-field>
        <mat-label>Wähle einen Raum</mat-label>
        <mat-select [(ngModel)]="selectedRoom" name="room">
          <mat-option id="option" *ngFor="let room of roomArray" [value]="room.name">
            {{room.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button [disabled]="!selectedRoom"
      mat-raised-button
      (click)="joinRoom()"
      ariaCurrentWhenActi>{{selectedRoom}} beitreten
      </button>
    </div>
  </div>
</div>


