<div class="startpage">
  <div class="header">
    <h1>Welcome to Conversphere</h1>
      <img [src]="imagePath" alt="chatIcon.png">
  </div>
  <button mat-raised-button (click)="copyToClipboard()">Link kopieren</button>
  <h4>Bitte geben Sie einen Nickname ein: </h4>
  <div>
  <div >
      <mat-form-field class="nickname">
        <mat-label>Nickname:</mat-label>
        <input matInput placeholder="Mindestens 3 Buchstaben! (ohne Leerzeichen)"
        [formControl]="nickname" required>
        <mat-error *ngIf="nickname.invalid">Bitte mindestens 3 Zeichen eingeben ohne Leerzeichen.</mat-error>
      </mat-form-field>
  </div>
  </div>

  <div *ngIf="nickname.valid" class="roomInput">
    <div class="createRoom">
      <h4>Einen neuen Raum erstellen</h4>
      <button
        class="button"
        mat-raised-button
        routerLink="/game"
        [disabled]="!nickname"
        routerLinkActive="active"
        ariaCurrentWhenActi (click)="openDialog()">Raumerstellen
      </button> 
    </div>

    <div class="chooseRoom">
      <h4>Raum beitreten: </h4>
      <mat-form-field>
        <mat-label>Wähle einen Raum</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="room">
          <mat-option *ngFor="let room of rooms" [value]="room.value">
            {{room.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button [disabled]="!selectedValue" 
      mat-raised-button 
      routerLink="/game" 
      routerLinkActive="active"
      ariaCurrentWhenActi (click)="openDialog()"
      ariaCurrentWhenActi>{{selectedValue}} beitreten
      </button> 
    </div>  
  </div> 
</div>


