.startpage{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  background-color: orange;
  color: black;
  height: 50px; //in zukunft mit zb 10vh 
  width: 100vw;
  margin: 0 0 0 0;
}

.roomInput{
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.createRoom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.chooseRoom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
