form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 22px 22px 0px 22px;
}
div {
  margin-left: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  button {
    margin-bottom: 22px;
  }
}
