strong{
    display: flex;
    justify-content: center;
    font-size: 3em;
    line-height: 3em;
    height: 3em;
    margin: 1em;
}
nav{
    justify-content: center;
    display: flex;
    button{
        color: orange;
        background-color: black;
        margin: 0.5em;
    }
}