<app-sidemenu></app-sidemenu>
<div class="center">
  <div class="body">
    <strong>Conversphere Chatroom</strong>
    <div class="Information">
      <p>Room-ID:XXXX</p>
      <mat-slider class="Slider" min="1" max="3" step="1">
        <input matSliderThumb />
      </mat-slider>
    </div>
    <div id="Spielfeld" class="Spielfeld" (click)="onClickAtDiv($event)" >
      <div id="Spieler" style="background-color: red; width: 5px; height: 5px;">
      </div>
    </div>
    <app-chatroom></app-chatroom>
  </div>
</div>
