<div class="background">
	<div class="header">
		<button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
			<mat-icon>menu</mat-icon>
		  </button>
	</div>
	<div class="body">
		<strong>Conversphere Chatroom</strong>
		<p class="Room-ID">Room-ID:XXXX</p>
		<p></p>
		<textarea class="Chat" name="text"></textarea>
		<p></p>
	<div class="Chatinput">
		<input class="Textinput" type="text" width="auto" name="getText" placeholder="Enter your text here">
		<button class="Button" mat-raised-button>Primary</button>
	</div>
	</div>
</div>


        


