<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
    </button>
    Conversphere Chatroom
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" [(opened)]="opened">
    <div class="sidemenu">
      <button mat-raised-button routerLink="/start" routerLinkActive="active" ariaCurrentWhenActive="page">
        Start Page
      </button>
      <button mat-raised-button routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
        Login Page
      </button>
    </div>
  </mat-sidenav>
  
  <mat-sidenav-content id="gamefield">
      <div class="game">
        <div class="information">
          <p>Room-ID:XXXX</p>
          <mat-slider class="slider" min="0" max="2" step="1" discrete [displayWith]="formatlabel" >
            <input matSliderThumb />
          </mat-slider>
        </div>
        <div id="Spielfeld" class="spielfeld" (click)="onClickAtDiv($event)" >
          <div id="Spieler" class="spieler">
          </div>
        </div>
        <div class="textarea" name="text"></div>
        <div class="chatroom">  
          <input matInput class="textinput" name="getText" placeholder="Enter your text here"/>
          <button class="buttonColor" mat-raised-button >Send</button>
        </div>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
