strong{
    display: flex;
    justify-content: center;
    font-size: 3em;
    line-height: 3em;
    height: 3em;
    margin: 1em;
}
.background{
    background-color: gray;
    display: grid;
    grid-template-rows: min-content;
    overflow: hidden;
    height: 100vh;
    flex-direction: row;
}
.Chat{
    height: 20%;
    width: 70%;
    margin-left: 5em;
}
.header{
    height: 100px;
    button{
        color: black;
        background: orange;
        margin: 1em;
    }
}
.body{
    display: flex;
    flex-direction: column;
}
.Chatinput{
    display: flex;
    flex-direction: row;
    button{
        color: black;
        background-color: orange;
        margin-left: 1em;
    }
}
.Textinput{
    height: 30px;
    width: min(20%,300px);
    margin-left: 5em;
}
.Room-ID{
    margin-left: 5em;
}