mat-sidenav {
  width: 20em;
  height: 100%;
}
mat-sidenav-container {
  height: 95vh;
}
mat-toolbar {
  background-color: orange;
  height: 5vh;
}
.body {
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
}
.game{
  margin-left: 5em;
  margin-right: 5em;
}
.title {
  font-size: 3vw;
  line-height: 3em;
  height: 3em;
  font-weight: bold;
}
.spielfeld{
  background-color: cornflowerblue;
  height: 30vh;
}
.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1vw;

  .slider {
    margin-left: 200px;
  }
}
.spieler{
  background-color: red;
  width: 5px;
  height: 5px;
}
.sidemenu {
  display: flex;
  flex-direction: column;
  button {
    color: black;
    background: orange;
    margin: 1em;
  }
}
