mat-sidenav-container {
  height: 95vh;
  width: 100%;
  button {
    color: black;
    background: orange;
  }
  background-color: #808080;
  position: fixed;
}
mat-toolbar {
  background-color: orange;
  font-weight: bold;
  height: 5vh;
}
mat-form-field{
  background-color: orange;
}
.sidemenu {
  display: flex;
  flex-direction: column;
  width: 15vw;
  button{
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
  }
}
.game{
  margin-left: 5em;
  margin-right: 5em;
}
.information {
  display: flex;
  justify-content: space-between;
  font-size: 1vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
  .slider{
    width: 10vw;
  }
}
.spielfeld{
  background-color: cornflowerblue;
  height: 30vh;
}
.spieler{
  background-color: red;
  width: 5px;
  height: 5px;
}
.chatroom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em;
  button{
    width: 5vw;
    height: 7vh;
    font-size: 1vw;
  }
}
.textarea {
  height: 30vh;
  background-color: blue;
  margin-top: 2em;
}
.textinput {
  width: 50vw;
  height: 7vh;
  font-size: 2vw;
}

