<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
    </button>
    Conversphere Chatroom
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" [(opened)]="opened">
    <div class="sidemenu">
      <button mat-raised-button routerLink="/start" routerLinkActive="active" ariaCurrentWhenActive="page">
        Leave Room
      </button>
      <button mat-raised-button routerLink="/login" (click)="leaveRoom()" routerLinkActive="active" ariaCurrentWhenActive="page">
        Login Page
      </button>
    </div>
  </mat-sidenav>
  
  <mat-sidenav-content id="gamefield">
      <div class="game">
        <div class="information">
          <div>
            <p>Room-ID: {{rooms.id}}</p>
            <p>Name: {{user.nickname}}</p>
          </div>          
          <mat-slider class="slider" min="0" max="2" step="1" discrete [displayWith]="formatlabel" >
            <input matSliderThumb />
          </mat-slider>
        </div>
        <div id="Spielfeld" class="spielfeld" (click)="onClickAtDiv($event)" >
          <div id="Spieler" class="spieler"></div>
          <div *ngFor="let user of userlist" class="player" [style.top.px]="user.position.y" [style.left.px]="user.position.x">
            <span class="nickname">{{ user.nickname }}</span>
          </div>
        </div>
        <div class="textarea" name="text">
          <div id="chatnachricht" class="Chatnachricht">
            <div *ngFor="let message of chatContent">            
              <div class="Einzelnachricht" [style.opacity]="(message.visibility)/100">{{message.id}} : {{message.text}}
              </div> 
            </div>
          </div>          
        </div>
        <div class="chatroom">           
          <input [formControl]="messageControl" (keydown.enter)="sendMessage()" matInput class="textinput" name="getText" maxlength="100" placeholder="Enter your text here"/>          
          <button class="buttonColor" mat-raised-button (click)="sendMessage()">Senden</button>
        </div>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>

