<h1 mat-dialog-title>Regeln für unseren Chat</h1>
<div mat-dialog-content>
  <a>{{nickname}}</a>
  <a>'Sei höflich und respektvoll: Behandle andere Chatteilnehmer mit Freundlichkeit und Respekt. Vermeide beleidigende oder abfällige Bemerkungen. Keine Diskriminierung oder Belästigung: Diskriminierung, Belästigung, Beleidigungen oder respektloses Verhalten sind inakzeptabel. Jeder sollte sich sicher und wohl fühlen können.'</a>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onOkClick()">Ok</button>
</div>
